


* {
  box-sizing: border-box;
}


.app-container {
  min-height: 100vh;
  flex: 6;
}

.header {
  display: flex;
  background-color: #F4F1ED;
  min-height: vh;
  align-content: center;
  text-align: center;
  justify-content: center;
  letter-spacing: .3em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}



.homeImg{

  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;

 
}

.img {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

 

}
.nav-main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
.navigation-links {
  list-style: none;
  display: flex;
  
}
.navigation-links a {
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 5px;
  text-align: center;

}

.navigation-links2 a {
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 5px;

}

.rightside-links {
display: end;
}

footer {
  height: 5vh;
}

.login-container {
background-color: #F4F1ED;
 
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
  max-width: 350px;
  max-height: 600px;
  margin-top: 150px;

}

input
 {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 80%;
  background-color: #5d5c5a;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

button[type="submit"]:hover {
  background-color: #b7b7b7;
}

.registration-container {
  background-color: #F4F1ED;
 
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
  max-width: 350px;
  max-height: 600px;
  margin-top: 150px;

}

.profile-container {
  display: grid;
  background-color: #F4F1ED;
  width: 100vw;
  height: 100vw;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;

}

.item2 {
  background-color: #F4F1ED;
  grid-column: col-start 2 / span 8;
  grid-row: 1 / 3;
}

.item3 {
  background-color: #F4F1ED;
  grid-column: col-start 12;
  grid-row: 1 / 3;
}

.profile-items {
  
  text-align: center;
  margin-top: 100px;
}

.SPV-container {
  display: grid;
  background-color: #F4F1ED;
  width: 100vw;
  height: 100vw;
}

.item4 {
  background-color: #F4F1ED;
  grid-column: col-start 2 / span 4;
  grid-row: 1/ 3;
 
}

/* .review-img {
 
 
} */

.item5 {
  background-color: #F4F1ED;
  grid-column: col-start 6/ span 4;
  grid-row: 1 / 3;
  
 
}

.review-box {
  height: 300px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 230px;
  padding-top: 5px;

}



.item-img {


  margin-left: 125px;
  margin-top: 200px;
  
}

.SPV-img {
  height: 200px;
  width: 200px;
}

.product-container {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.add-product {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  flex: 5;
}


/* .login-container {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);

  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
} */
.product-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.product-container {
  border: 1px solid #ccc;
  padding: 10px;
}
.product {
display: grid;
 width: 30%;
margin: .5rem;
}
.product-card {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;
  width: 400px;
  height: 300px;
  padding: 2%;
  margin: 2px;
  flex: 1 16%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
.product-image img {
  height: 200px;
  display: block;
  margin: 0 auto;
}
.product-info {
  height: 200px;
  text-align: center;
}
.title {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.upp-c {
  text-transform: uppercase;
}